/* "Таймер + добавление задач" */
/* body {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #4A5568;
} */

.wrapper-timer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 10%;
    left: 25%;
}

.buttons-and-timer {
    margin-bottom: 15px;
    display: flex;
}

.timer-items,
.timer-display,
.tasks-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-item {
    position: relative;
    min-width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.timer-item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 30%;
    bottom: 0;
    transform: translateX(-50%);
}

.timer-item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
}

.timer-buttons,
.my-task {
    margin-right: 15px;
}

.save-button {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end
}

.tasks-input {
    width: 300px;
}

.error-message {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: red;
}

/* конец "Таймер + добавление задач" */
h1 {
    color: red;
}

@font-face {
    /* font-family: "Marck Script";
    src: url(../fonts/MarckScript-Regular.ttf); */
    /*Чтобы включить Marck Script расскомментировать в селекторе #history font-size */

    /* font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf); */

    font-family: "Montserrat";
    src: url(../fonts/ZCOOLQingKeHuangYou-Regular.ttf);
}

:root {
    /* --main_font-family: "Marck Script";
--main_font-family: "Montserrat"; */
    --main_font-family: ZCOOL QingKe HuangYou, cursive;
}

/* шапка первого слайда */
.slaid1 {
    margin-top: 100px;
    background: url(../img/firstSlide.jpg) 0 0/100% auto no-repeat;
    object-fit: cover;
    height: 15rem;
    width: 28.5rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#slaid1_phrase {
    position: absolute;
    text-align: center;
    top: 5%;
    right: 10%;
    left: 45%;
    font-family: var(--main_font-family);
    font-size: 0.75em;
}

#slaid1_today {
    position: absolute;
    top: 30%;
    left: 52%;
    font-size: 1.2em;
    font-family: var(--main_font-family);
}

.slaid1_history {
    position: absolute;
    width: 7%;
    top: 83%;
    left: 90%;
}

.slaid1_history:hover {
    transform: scale(1);
    box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
    color: black;
}

/* История */
#history {
    width: 83%;
    margin: 1% auto;
    font-family: var(--main_font-family);
    /* font-size: 1.5em; */
}

.history_date {
    text-align: center;
    margin-top: 5%;
    font-weight: 600;
    font-size: 0.6em;
}

.history_container {
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.histopy_sum {
    font-weight: lighter;
    display: flex;
    justify-content: end;
}

.title {
    padding: 15px 100px;
    font-size: 26px;
}

/* STATISTICS block */
.statistics-wrp {
    border: 1px solid red;
    margin: 100px auto;
    width: 70%;
    min-height: 500px;
    background: no-repeat center/100% url('../img/secondSlide.jpg');
    background-size: cover;
    position: static;
}

.quote {
    max-width: 65%;
    margin-left: 15px;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: .5px;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote {
    quotes: "“""”""‘""’";
}

figcaption {
    /* display: block; */
    text-align: center;
    font-style: italic;
}

/* человечек */
/* * {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */
:root {
    font-size: calc(24px + (48 - 24)*(100vw - 320px)/(2560 - 320));
    --bg: #f1f1f1;
    --fg: #171717;
}

body,
input {
    /* color: var(--fg); */
    font: 1em/1.5 "B612 Mono", monospace;
}

/* body {
	background: var(--bg);
	display: flex;
	height: 100vh;
	overflow-x: hidden;
} */
form {
    /* margin: auto; */
    margin: 0 40px;
    position: relative;
    z-index: 10;
    /* width: 400px; */
    width: 12.5em;
    bottom: 10px;
}

.unicycle,
.unicycle__wheel,
.unicycle__rider-body,
.unicycle__pedal-arms {
    position: relative;
}

.unicycle {
    margin-top: 5.5em;
}

.unicycle__wheel {
    background: transparent;
    border-radius: 0.75em;
    box-shadow: 0 0 0 0.1em inset;
    display: block;
    outline: transparent;
    width: 100%;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    border-color: #000000 !important;
    color: #000 !important;
}

.unicycle__wheel::-webkit-slider-thumb {
    background: transparent;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1em inset;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
}

.unicycle__wheel::-moz-range-thumb {
    background: transparent;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1em inset;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
}

.unicycle__marker,
.unicycle__right-arm,
.unicycle__right-lower-arm,
.unicycle__left-arm,
.unicycle__left-lower-arm,
.unicycle__right-leg,
.unicycle__right-lower-leg,
.unicycle__left-leg,
.unicycle__left-lower-leg,
.unicycle__flag-pole,
.unicycle__flag,
.unicycle__pedal {
    position: absolute;
}

.unicycle__marker {
    /* JS will control the variables */
    --pedalRot: 0deg;
    --rightLegRot: 0deg;
    --rightLowerLegRot: 0deg;
    --leftLegRot: 0deg;
    --leftLowerLegRot: 0deg;
    top: -2.5em;
    left: 0;
    width: 1.5em;
    height: 4em;
    z-index: -1;
}

.unicycle__marker>div {
    margin: auto;
}

.unicycle__marker .unicycle__rider-body {
    height: 1em;
    margin-bottom: 0.1em;
}

.unicycle__rider-head,
.unicycle__flag {
    box-shadow: 0 0 0 0.1em inset;
}

.unicycle__rider-head {
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

.unicycle__rider-head~div,
.unicycle__right-arm,
.unicycle__right-lower-arm,
.unicycle__left-arm,
.unicycle__left-lower-arm,
.unicycle__right-leg,
.unicycle__right-lower-leg,
.unicycle__left-leg,
.unicycle__left-lower-leg,
.unicycle__flag-pole,
.unicycle__pedal {
    background: currentColor;
}

.unicycle__rider-body,
.unicycle__right-arm,
.unicycle__right-lower-arm,
.unicycle__left-arm,
.unicycle__left-lower-arm,
.unicycle__right-leg,
.unicycle__right-lower-leg,
.unicycle__left-leg,
.unicycle__left-lower-leg,
.unicycle__flag-pole,
.unicycle__bar {
    width: 0.1em;
}

.unicycle__right-lower-arm,
.unicycle__left-lower-arm,
.unicycle__right-leg,
.unicycle__right-lower-leg,
.unicycle__left-leg,
.unicycle__left-lower-leg,
.unicycle__seat,
.unicycle__pedal-arms,
.unicycle__pedal {
    border-radius: 0.05em;
}

.unicycle__right-arm,
.unicycle__right-lower-arm,
.unicycle__left-arm,
.unicycle__left-lower-arm,
.unicycle__right-leg,
.unicycle__right-lower-leg,
.unicycle__left-leg,
.unicycle__left-lower-leg {
    transform-origin: 50% 0.05em;
}

.unicycle__right-lower-arm,
.unicycle__left-lower-arm,
.unicycle__right-leg,
.unicycle__left-leg,
.unicycle__right-lower-leg,
.unicycle__left-lower-leg {
    top: calc(100% - 0.05em);
}

.unicycle__right-arm,
.unicycle__right-lower-arm,
.unicycle__left-arm,
.unicycle__left-lower-arm,
.unicycle__right-leg,
.unicycle__left-leg {
    height: 0.75em;
}

.unicycle__right-lower-leg,
.unicycle__left-lower-leg {
    height: 0.78em;
}

.unicycle__right-arm {
    transform: rotate(-80deg);
}

.unicycle__right-lower-arm {
    transform: rotate(-10deg);
}

.unicycle__left-arm {
    transform: rotate(25deg);
}

.unicycle__left-lower-arm {
    transform: rotate(5deg);
}

.unicycle__right-leg {
    transform: rotate(var(--rightLegRot));
}

.unicycle__right-lower-leg {
    transform: rotate(var(--rightLowerLegRot));
}

.unicycle__left-leg {
    transform: rotate(var(--leftLegRot));
}

.unicycle__left-lower-leg {
    transform: rotate(var(--leftLowerLegRot));
}

.unicycle__flag-pole {
    height: 3em;
    bottom: 0;
    transform: rotate(90deg);
    transform-origin: 50% calc(100% - 0.1em);
}

.unicycle__flag {
    right: 0;
    text-align: center;
    width: 2.25em;
    height: 1.5em;
}

.unicycle__seat,
.unicycle__pedal-arms {
    height: 0.1em;
}

.unicycle__seat {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 0.4em;
}

.unicycle__bar {
    border-radius: 0 0 0.05em 0.05em;
    height: 1.1em;
}

.unicycle__pedal-arms {
    top: -0.1em;
    width: 0.5em;
    transform: rotate(var(--pedalRot));
}

.unicycle__pedal {
    top: 0;
    width: 0.3em;
    height: 0.1em;
    transform: rotate(calc(var(--pedalRot) * -1));
}

.unicycle__pedal:first-child {
    left: -0.15em;
}

.unicycle__pedal:last-child {
    right: -0.15em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #171717;
        --fg: #f1f1f1;
    }
}


/* end - STATISTICS block */
/* блок график  */

.container-chart {
    width: 80%;
    height: auto;
    background-color: #a9a9a91a;
    padding: 20px;
    margin: 0 auto;
}

.chart__title {
    text-align: center;
    font-size: large;
}

.chart {
    padding: 10px;
}

/* Блок диалоговое окно */

.container-dialog-window {
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    color: rgb(63 165 28);
    border: 5px solid rgb(154 229 128);
    width: 70%;
    border-radius: 10px;
    font-size: xx-large;
    text-align: center;
}

::backdrop {
    opacity: 0.5;
    background-color: rgb(189 185 185);
}

.close-btn {
    border: none;
    background-color: white;
    color: rgb(63 165 28);
    display: block;
    width: 30px;
    height: 30px;
    padding: 3px;
    font-size: x-large;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close-btn:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(154 229 128);
}

@media screen and (max-width: 478px) {
    .slaid1 {
        margin-top: 60px;
        height: 180px;
        width: auto;
    }

    #slaid1_phrase {
        top: 7%;
        left: 45%;
        font-size: 0.5em;
    }

    #slaid1_today {
        top: 35%;
        left: 52%;
        font-size: 0.6em;
    }


    .slaid1_history {
        width: 7%;
        top: 85%;
        left: 90%;
    }

    #history {
        font-size: 1em;
        width: 95%;
        margin: 1% auto;
    }

    .history_date {
        text-align: center;
        margin-bottom: 5%;
        font-size: 1em;
    }
}